@font-face {
    font-family: SVN-Arial-3;
    src: url('../fonts/font_VNA/SVN-Arial 3.ttf');
}

@font-face {
    font-family: SVN-Avo-bold;
    src: url('../fonts/font_VNA/SVN-Avo bold.ttf');
}

@font-face {
    font-family: SVN-Avo;
    src: url('../fonts/font_VNA/SVN-Avo.ttf');
}

@font-face {
    font-family: SVN-Nexa-Rush-Sans-Black;
    src: url('../fonts/font_VNA/SVN-Nexa Rush Sans Black.ttf');
}

@font-face {
    font-family: iCiel-Rukola;
    src: url('../fonts/font_VNA/iCiel Rukola.otf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/font_VNA/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/font_VNA/Montserrat-Medium.ttf');
}
body *{
    color: #fff;
}

body input,select *{
    color: #000;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-15{
    margin-top: 15px;
}

.font-montserrat-medium{
    font-family: Montserrat-Medium;
}

.svn-avo-bold{
    font-family: SVN-Avo-bold;
}

.float-right{
    float: right !important;
}

.landing-page {
    background-image: url('../img/landing_page_vna/bg-landing-page-vna.png');
    background-size: cover;
}

.logo-bp-vna {
    margin-top: 68px;
    margin-bottom: 60px;
}

.logo-bp-vna .logo-bp img {
    width: 288px;
}

.logo-bp-vna .logo-vna img {
    width: 369px;
}

.logo-bp-vna .logo-vna {
    margin-top: 6px;
    text-align: center;
}

.logo-bp-vna .logo-bp {
    text-align: center;
}

.content {
    text-align: center;
    font-size: 25px;
    font-family: Montserrat-Light;
    line-height: 60px;
}
.content .slogan{
    font-family: iCiel-Rukola;
    font-size: 55px;
}
.content .register{
    font-family:  SVN-Nexa-Rush-Sans-Black;
    color: #fff200;
    font-size: 33px;
    line-height: 0px;
}
.content .expiry-date *{
    font-size: 25px;
    color: #fff200;
}
.content .reward{
    line-height: 37px;
}

.horizontal-line{
    border-top: 3px #fff solid;
    float: left;
    position: relative;
    width: 40%;
}

.register-middle{
    margin-top: 40px;
}

.register-middle .register-now{
    float: left;
    position: relative;
    width: 20%;
    text-align: center;
    color: #fff200;
    font-family: SVN-Nexa-Rush-Sans-Black;
    font-size: 35px;
    line-height: 1px;
}
.form-register{
    margin-top: 70px;
}

.form-register input,select{
    color: #000;
    font-family: Montserrat-Light;
    font-size: 16px;
    padding-bottom: 2px;
    width: 100%;
    padding-left: 10px;
}
.form-register input,select:focus{
    outline: none;
}

.form-register .phone{
    width: 60%;
    margin-left: 5%;
    padding-left: 15px;
}

.form-register .phone-code{
    width: 35%;
    font-size: 12px;
    font-family: SVN-Arial-3;
}

.form-register .birthday-select{
    text-align: center;
}

.form-register .birthday-select .day{
    width: 30%;
    float: left;
    padding-left: 15px;
}

.form-register .birthday-select .month{
    width: 30%;
    padding-left: 15px;
}

.form-register .birthday-select .year{
    width: 30%;
    float: right;
    padding-left: 15px;
}

.form-register .note-name{
    font-family: Montserrat-Light;
    font-size: 12px;
}

.landing-page-input{
    border-radius: 6px;
    height: 39px;
    border: 0px;
}

.landing-page .btn-submit{
    text-align: center;
}
.btn-submit button{
    width: 228px;
    height: 52px;
    border-radius: 21px;
    background-color: #ff8024;
    border: 0px;
    font-family: Montserrat-Light;
    font-size: 25px;
    margin-top: 32px;
}

.btn-submit button:focus{
    outline: none;
}

.footer{
    background-color: #ff801e;
    padding:20px 0px;
    font-size: 25px;
    font-family: SVN-Avo;
    margin-top: 58px;
    text-align: center;
}
.footer .company-bp{
    font-size: 26px;
}
.form-register .label-input{
    font-family: SVN-Arial-3;
    font-size: 25px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(../img/landing_page_vna/icon-select.png) no-repeat 95% 50%;
    background-size: 10px 7px;
}

.error-message{
    color: #b20000;
    float: left;
}

@media (min-width: 1200px){
    .register-middle .register-now{
        width: 26%;
    }
    .horizontal-line{
        width: 37%;
    }
}

@media (max-width: 1200px){
    .register-middle .register-now{
        width: 35%;
    }
    .horizontal-line{
        width: 32.5%;
    }
    .form-register .note-name{
        font-size: 11px;
    }
    .form-register .phone-code{
        font-size: 10px;
    }
    .error-message{
        font-size: 13px;
    }
}

@media (max-width: 992px){
    .form-register .label-input{
        font-size: 14px;
    }
    .right-group-input{
        margin-top: 15px;
    }
    .logo-bp-vna .logo-bp img{
        width: 65%;
    }
    .logo-bp-vna .logo-vna img{
        width: 85%;
    }
    .logo-bp-vna .logo-vna{
        margin-top: 0px;
    }
    .content .slogan {
        font-size: 32px;
    }
    .logo-bp-vna{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .content{
        line-height: 35px;
        font-size: 15px;
    }
    .content .register{
        font-size: 20px;
    }
    .content .reward{
        line-height: 25px;
    }
    .content .expiry-date *{
        font-size: 15px;
    }
    .register-middle .register-now{
        font-size: 23px;
        width: 30%;
    }
    .horizontal-line{
        width: 35%;
    }
    .landing-page-input{
        height: 30px;
    }
    .btn-submit button{
        width: 90%;
        height: 30px;
        font-size: 16px;
        margin-top: 20px;
    }
    .form-register{
        margin-top: 45px;
    }

    .form-register .phone-code{
        font-size: 10px;
        padding-left: 0xp !important;
        width: 40%;
    }
    
    .form-register input, select{
        font-size: 14px;
        padding-left: 5px !important;
    }
    .footer{
        font-size: 14px;
    }
    .footer .company-bp{
        font-size: 16px;
    }
    .form-register .note-name{
        font-size: 10px;
    }
    .form-register .phone{
        width: 55%;
    }
    .error-message{
        font-size: 10px;
    }
}

@media (max-width: 767px){
    .padding-right-0{
        padding-right: 0px;
    }

    .content{
        font-size: 10px;
        line-height: 26px;
    }
    .logo-bp-vna .logo-bp img{
        width: 85%;
    }
    .logo-bp-vna .logo-vna img{
        width: 100%;
    }
    .content .slogan{
        font-size: 20px;
    }
    .content .register{
        font-size: 15px;
    }
    .content .reward{
        line-height: 20px;
    }
    .content .expiry-date *{
        font-size: 10px;
    }
    .horizontal-line{
        width: 30%;
    }
    .register-middle .register-now{
        font-size: 14px;
        width: 40%;
    }
    .form-register .label-input{
        font-size: 11px;
    }
    .landing-page-input{
        height: 23px;
    }
    .form-register input, select{
        font-size: 11px;
    }
    .form-register .phone-code{
        font-size: 7px;
    }
    .form-register .note-name{
        font-size: 8px;
    }
}